/* About content title history*/


/* History And Description */

.about-content__text__history {
    margin-top: 80px;
}

@media(min-width: 800px) {
    .about-content__text__history {
        margin-top: 80px;
    }
    .box__about__list__main {
        display: flex;
        justify-content: space-between;
    }
}

.about__section__content__image--box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #aaa;
}

.about__section__content__signature {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 0 0 10px 10px;
}

.about__section__content__image {
    width: 150px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}