/* Containers */

.container {
    min-height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px;
}

.container__inner {
    max-width: 900px;
    margin: 0 auto;
}

.container--small {
    max-width: 960px;
    margin: 0 auto;
    padding: 5px;
    height: 700px;
}