.contact-form__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
}

@media(min-width: 800) {
    .contact-form__info {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 90vw;
    }
}

.contact__form__info__address--box {
    justify-content: flex-start;
    border: 1px solid green;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px green;
}

.contact-form__info-item {
    display: flex;
    align-items: center;
}

.contact-form__info-icon {
    display: flex;
    align-items: center;
    margin: 20px 10px;
    justify-content: center;
    transition: 0.5s;
    width: 20px;
}

.contact-form__info-link {
    color: #eee;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
}

.contact-form__description {
    display: flex;
    transition: 0.5s;
    line-height: 1.5;
    justify-content: center;
}

.contact-form__fields {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: -10px 0;
}

@media(min-width: 425px) {
    .contact-form__info-icon {
        width: 1.4em;
    }
    .contact-form__info-link {
        font-size: 16px;
    }
    .contact-form__description {
        font-size: 18px;
    }
    .contact-form__fields {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contact-form__field {
        width: 49%;
    }
    .contact-form__submit__button {
        font-size: 16px;
    }
}

@media(min-width: 800px) {
    .contact-form__info {
        flex-direction: row;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100vw;
    }
    .contact-form__info-icon {
        width: 1.2em;
    }
    .contact-form__info-link {
        font-size: 22px;
    }
    .contact-form__description {
        font-size: 22px;
    }
}