// Nawigacja - na mobilki
.main-navigation {
    display: flex;
    position: fixed;
    align-items: center;
    background: #bbbbbb80;
    height: 100px;
    width: 100%;
    .inner {
        margin: 0 auto;
        width: 95%;
        max-width: 1400px;
        display: flex;
        align-content: center;
        justify-content: space-between;
        .logo {
            .link {
                display: flex;
                flex-direction: row;
                text-decoration: none;
                .logo-text {
                    .top-text {
                        margin-left: 3px;
                        font-size: 24px;
                        font-weight: bold;
                        color: #008000;
                    }
                    .bottom-text {
                        font-size: 10px;
                        color: #000;
                    }
                }
            }
        }
        img {
            width: 55px;
            height: 55px;
        }
        ul {
            display: none;
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                a {
                    text-decoration: none;
                    color: #ddd;
                }
            }
        }
        // Hamburger menu
        .mobile-button {
            border: none;
            display: block;
            cursor: pointer;
            // justify-self: flex-end;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }
}