.offer-content__text__business,
.offer-content__text__calculation,
.offer-content__text__calculation__mark,
.offer-content__text__calculation__test,
.offer-content__text__calculation__investor,
.offer-content__text__calculation__due-diligence,
.offer-content__text__calculation__transfers,
.offer-content__text__calculation__systems,
.offer-content__text__calculation__benchmark,
.offer-content__text__calculation__management,
.offer-content__text__calculation__training {
    height: 60px;
    overflow: hidden;
}

.offer-content__text__business--open,
.offer-content__text__calculation--open,
.offer-content__text__calculation__mark--open,
.offer-content__text__calculation__test--open,
.offer-content__text__calculation__investor--open,
.offer-content__text__calculation__due-diligence--open,
.offer-content__text__calculation__transfers--open,
.offer-content__text__calculation__systems--open,
.offer-content__text__calculation__benchmark--open,
.offer-content__text__calculation__management--open,
.offer-content__text__calculation__training--open {
    height: auto;
}

.benchmark__downloaded__link {
    margin: 0 auto;
    text-align: center;
}

.offer-content__title__calculation__benchmark__link {
    margin: 20px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #222;
}

offer-content__title__calculation__benchmark__link--span {
    font-weight: 300;
}

.download__link--box {
    margin: 0 auto;
}

[data-title]:hover:after {
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #000;
    color: #777;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    background-image: -webkit-linear-gradient( top, #f8f8f8, #cccccc);
    background-image: -moz-linear-gradient( top, #f8f8f8, #cccccc);
    background-image: -ms-linear-gradient( top, #f8f8f8, #cccccc);
    background-image: -o-linear-gradient( top, #f8f8f8, #cccccc);
    padding: 4px 8px;
    box-shadow: 0 0 10px 2px #ccc;
    visibility: hidden;
}